@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Poppins:wght@400;700;900&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
 --darkBg: #202020;
 --secDarkBg: #292929;
 --primary: #053f5e;
 --secondary: #115173;
 --accent: #ffd700;
 --accentHover: #ffc400;
 --white: #fff;
 --grey: rgb(185, 185, 185);
}

body {
 color: var(--white);
 background-color: var(--darkBg);
 font-size: 16px;
}
/* UTILITY */
h1,
h2,
h3,
h4,
h5,
h6,
button {
 font-family: 'Poppins', sans-serif;
}

p,
a,
li {
 font-family: 'Open Sans', sans-serif;
}
/* END OF UTILITY */

/* NAVBAR */
#navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 16px 32px;
}

.nav-links {
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.nav-links li {
 list-style: none;
 margin-left: 28px;
}
.nav-links a {
 font-size: 18px;
 font-weight: 700;
 color: var(--grey);
 text-decoration: none;
}
.nav-links a:hover {
 color: var(--white);
}
.nav-links .ctaButton {
 padding: 12px 24px;
 color: var(--darkBg);
 background-color: var(--accent);
 border-radius: 50px;
}
.nav-links .ctaButton:hover {
 background-color: var(--accentHover);
}
/* END OF NAVBAR */

/* HERO */
#hero {
 display: flex;
 align-items: center;
 justify-content: space-around;
 padding: 5% 72px;
}

.hero-items {
 flex: 50%;
 min-width: 50%;
 padding: 24px;
}

#hero-text h1 {
 font-size: 72px;
}
#hero-text h5 {
 color: var(--grey);
 letter-spacing: 2px;
 font-size: 20px;
 opacity: 0.3;
}
#hero-text p {
 margin: 32px 0;
 color: var(--grey);
 line-height: 1.7;
}
#hero-text p strong {
 color: var(--white);
}
#hero-text a {
 color: var(--accent);
 font-weight: 700;
 text-decoration: none;
}

#hero-img img {
 width: 100%;
}
/* END OF HERO */

/* SERVICES */
#services {
 padding: 10% 72px;
}

.service-headline {
 text-align: center;
 padding: 0 20%;
}
.service-headline h5 {
 color: var(--grey);
 letter-spacing: 2px;
 font-size: 20px;
 opacity: 0.3;
}
.service-headline h2 {
 font-size: 36px;
}
.service-headline p {
 margin: 32px 0;
 color: var(--grey);
 line-height: 1.7;
}

.service-summary {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 24px;
 margin-top: 96px;
}
.service-summary .card {
 flex: 33.3%;
 max-width: 33.3%;
 padding: 24px;
 margin: 0 16px;
 color: var(--white);
 background-color: var(--secDarkBg);
 text-align: center;
 border-radius: 25px;
 cursor: pointer;
}
.service-summary .card:hover {
 z-index: 99;
 color: var(--darkBg);
 background-color: var(--accent);
 -webkit-box-shadow: 0px 18px 35px 10px rgba(255, 215, 0, 0.2);
 -moz-box-shadow: 0px 18px 35px 10px rgba(255, 215, 0, 0.2);
 box-shadow: 0px 18px 35px 10px rgba(255, 215, 0, 0.2);
}
.service-summary .card img {
 position: relative;
 margin-top: -30% !important;
 width: 50%;
 height: auto;
}
.service-summary .card h3 {
 margin: 24px 0;
 text-align: left !important;
}
.service-summary .card p {
 font-size: 14px;
 color: var(--grey);
 line-height: 1.7;
 text-align: left !important;
}
/* END OF SERVICES */

/* FOOTER */
footer {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 72px;
 background-color: var(--secDarkBg);
}

.footer-items {
 flex: 50%;
 min-width: 50%;
 padding: 24px;
}
.socMed {
 text-align: end;
}
.socMed a {
 color: var(--white);
 margin-left: 24px;
}
/* END OF FOOTER */
