@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Poppins:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkBlue: #202020;
  --primary: #053f5e;
  --secondary: #115173;
  --accent: #ffd700;
  --accentHover: #ffc400;
  --white: #fff;
  --grey: rgb(185, 185, 185);
}

body {
  color: var(--white);
  background-color: var(--darkBlue);
  font-size: 16px;
}
/* UTILITY */
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Poppins", sans-serif;
}

p,
a,
li {
  font-family: "Open Sans", sans-serif;
}
/* END OF UTILITY */

/* NAVBAR */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links li {
  list-style: none;
  margin-left: 28px;
}
.nav-links a {
  font-size: 18px;
  font-weight: 700;
  color: var(--grey);
  text-decoration: none;
}
.nav-links a:hover {
  color: var(--white);
}
.nav-links .ctaButton {
  padding: 12px 24px;
  color: var(--darkBlue);
  background-color: var(--accent);
  border-radius: 50px;
}
.nav-links .ctaButton:hover {
  background-color: var(--accentHover);
}
/* END OF NAVBAR */

/* HERO */
#hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 36px 72px;
}

.hero-items {
  flex: 50%;
  min-width: 50%;
  padding: 24px;
}

#hero-text h1 {
  font-size: 72px;
}
#hero-text h5 {
  color: var(--grey);
  letter-spacing: 2px;
  font-size: 20px;
  opacity: 0.3;
}
#hero-text p {
  margin: 32px 0;
  color: var(--grey);
  line-height: 2;
}
#hero-text p strong {
  color: var(--white);
}
#hero-text a {
  color: var(--accent);
  font-weight: 700;
  text-decoration: none;
}

#hero-img img {
  width: 100%;
}
/* END OF HERO */
